/* --- Definitions of webfonts --- */

@font-face {
    font-family: Modern;
    src: url(./computer-modern-roman.woff);
}

@font-face {
    font-family: Modern;
    src: url(./computer-modern-bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Modern;
    src: url(./computer-modern-italic.woff);
    font-style: italic;
}

@font-face {
    font-family: ModernUpright;
    src: url(./computer-modern-upright.woff);
}

/* --- Styles of containers --- */
#paper {
    font-family: Modern, Georgia;
    font-size: 12pt;
    text-align: justify;
    line-height: 120%;
    margin-left: 20%;
    padding-top: 32pt;
    width: 70%;
    transition: margin-left 0.5s;
}

#sidebar {
    font-family: ModernUpright, Georgia;
    font-size: 13pt;
    text-align: left;
    position: fixed;
    left: 15px;
    top: 30px;
    width: 125px;
    height: 80%;
    background-image: linear-gradient(linen, white);
    border-radius: 5pt;
    box-shadow: 0 4px 8px 0 lightgray;
    overflow: hidden;
    transition: left 0.5s;
}

.title {
    font-family: ModernUpright, Georgia;
    font-size: 25pt;
    text-align: left;
}

.info {
    font-family: ModernUpright, Georgia;
    font-size: 12pt;
    margin: 10pt 0pt;
    color: gray;
    text-align: left;
}

.vspace {
    height: 16pt;
}

/* --- Styles for text constructions --- */
h1 {
    font-size: 18pt;
    text-align: left;
    margin-top: 15pt;
    margin-bottom: 12pt;
}

h2 {
    font-size: 16pt;
    text-align: left;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 14pt;
    text-align: left;
    margin-top: 8pt;
    margin-bottom: 8pt;
}

p {
    margin-top: 3pt;
    margin-bottom: 6pt;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px 3px;
}

td, th {
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

ul, ol{
    margin-top: 3pt;
    margin-bottom: 5pt;
    padding-left: 25pt;
}

li {
    margin-bottom: 3pt;
}

code {
    font-family: "Courier", "Courier New";
    font-size: 11pt;
}

blockquote {
    margin: 10px 10px;
    padding: 3px 10px;
    background: linear-gradient(to right bottom, ivory, snow);
    border-left: 3px solid lightsalmon;
    border-radius: 5pt;
    box-shadow: 0 2px 3px 0 lightgray;
}

/* --- Styles for hyperlinks (hence also buttons) --- */
a {
    text-decoration: none;
    color: chocolate;
    transition: 0.3s;
}

a:visited {
    color: darkmagenta;
}

a:hover {
    color: coral;
}

#sidebar a {
    color: black;
    border-left: 3px solid lightsalmon;
    padding: 2px 7px;
    margin: 3px 0px;
    display: block;
}

#sidebar a:hover {
    background-color: bisque;
}
