---
layout: root
---
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <p class="title"><u>{{ page.title }}</u></p>
    
    <div class="vspace"></div>
    
    {% assign base = page.dir | remove: "/" %}
    {% assign list = site.pages | sort: "title" %}
    {% for x in list %}
    {% if x.path != page.path and x.name == "index.md" and x.path contains base %}
    <a href="{{ x.url }}">
        <div class="card">
            <h3>{{x.title}}</h3>
            {{x.about}}
        </div>
    </a>
    {% endif %}
    {% endfor %}

    <div class="info" style="clear:both; text-align:right">
        <a href="../">Return↩︎</a>
    </div>
    
</body>
