---
layout: root
---
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    <p class="title">{{ page.title }}</p>
    <div class="vspace"></div>

    <div style="display: flex; flex-flow: row wrap; align-items: stretch;">
        {% assign base = page.dir | remove: "/" %}
        {% assign list = site.pages | sort: "title" %}
        {% for x in list %}
        {% if x.path != page.path and x.path contains base and x.name == "index.md" %}
        <div class="card">
            <a href="{{ x.url }}">
                <h3>{{x.title}}</h3>
            </a>
            {{x.about}}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="info" style="text-align: right">
        <a href="../">Return↩︎</a>
    </div>
</body>
