---
layout: root
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="paper">
            <div class="vspace"></div>
            <p class="title">{{ site.title }}</p>
            <div class="vspace"></div>

            <table><tr>
                 <td width="400pt">
                     <p style="font-family:CMUupright"> {{ page.about }} </p>
                 </td>
                 <td width="200pt">
                     <img src="{{ page.photo }}" style="width:100%; border-radius:5pt;">
                 </td>
            </tr></table>

            {{ content }}
        </div>
    </body>
</html>
