---
layout: root
---
<head>
    <title>{{ site.title }}</title>
</head>
<body>
    <p class="title">{{ site.title }}</p>
    <div class="vspace"></div>

    <table><tr>
         <td width="400pt">
             <div style="font-family:ModernUpright; text-align:left; ">
             {{ page.about }}
            </div>
         </td>
         <td width="200pt">
             <img src="{{ page.photo }}" style="width:100%; border-radius:5pt;">
         </td>
    </tr></table>

    <div class="card">
        <h2>What's New</h2>
        {{ page.new }}
    </div>
</body>
