---
layout: root
---
<head>
    <title>{{ site.title }}</title>
</head>
<body>
    <p class="title">{{ site.title }}</p>
    <div class="vspace"></div>

    <table><tr>
         <td width="400pt">
            <div style="text-align:left;">
            {{ page.about }}
            </div>
         </td>
         <td width="200pt">
            <img src="{{ page.photo }}" style="width:100%; border-radius:5pt;">
            {% if page.courtesy %}
            <div style="font-size: 10pt; color: grey; text-align: center;">
            photograph by {{ page.courtesy }}
            </div>
            {% endif %}
         </td>
    </tr></table>
</body>
