---
layout: root
---
<head>
    <title>{{ page.title }}</title>
</head>
<body>
    {% if page.preamble %}
    <div style="display:none;">
        <!-- The LaTeX preamble -->
        $$ {{ page.preamble }} $$
    </div>
    {% endif %}

    {% if page.date %}
    <p class="info">{{ page.date }}</p>
    {% endif %}
    
    <p class="title">{{ page.title }}</p>
    
    <div class="vspace"></div>
    {{ content }}
    <div class="vspace"></div>

    <div class="info" style="text-align: right">
        {% if page.returnPage %}
        <a href="{{ page.returnPage }}">Return↩︎</a>
        {% else %}
        <a href="../">Return↩︎</a>
        {% endif %}
    </div>
</body>
