<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/root.css">
    <link rel="stylesheet" href="/assets/highlighter.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script defer src="/assets/config.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
    <div id="sidebar">
        <div onclick="toggle_sidebar()" style="text-align:center; margin:15pt 0pt">
            <img src="/assets/icon.jpeg" alt="avatar"
            style="width:80px; height:80px; border-radius:50%">
        </div>

        <a href="/">Home</a>
        <a href="/notes">Notes</a>
        <a href="/research">Research</a>
        <a href="/fun">Fun Stuffs</a>
    </div>

    <div id="paper">
        {{ content }}
    </div>
</body>
</html>
